@import "../../variable.module.scss";

.container {
  display: grid;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
  // justify-content: center;
  // grid-template-columns: 1fr 1fr;

  @media (min-width: $bp-tablet) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: $bp-small-laptop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: $bp-big-laptop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
