$primaryColor: #292b2c;
$primaryBtn: #0275d8;
$primaryBtnDarker: #025ead;
$secondaryColor: #e5e5e5;
$emphasiseColor: #21e6c1;
$primaryBackground: #fff;
$secondaryBackground: #f0f0f0;

$mainGray: #ececec;
// $emphasiseBackground: #192567;

$bp-medium-phone: 23em; // 368px/16px = 23em
$bp-tablet: 37.5em; // 600px/16px = 37.5em
$bp-small-laptop: 56.25em; // 900px/16px = 37.5em
$bp-big-laptop: 75em; // 1200px/16px = 75em
